body {
  height: 100vh;
  width: 100%;
}
header {
  width: 100%;
  height: 8%;
  background: green;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ********Partie main et ses sous-parties**************** */
main {
  height: 92vh;
  width: 100%;
  background: yellow;
  display: flex;
  justify-content: space-between;
}
.user-btn {
  width: 250%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  background: red;
}
.user-btn div {
  display: flex;
  flex-direction: column;
}
.ia {
  background: orange;
  width: 250%;
  height: 40%;
}

aside {
  background: purple;
  height: 100%;
  width: 36%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.result {
  width: 80%;
  height: 100%;
  background: yellow;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}
.result button {
  width: 60%;
  height: 11%;
  border-radius: 200px;
  border: 2px solid transparent;
}
