body {
  height: 100vh;
  width: 100%;
}
header {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main {
  height: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.player {
  background: red;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.player-title {
  background: orange;
  height: 39%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
p {
  margin: 5px;
}
.btn {
  width: 100%;
  height: 100%;
  background: green;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.btn button {
  height: 80px;
  width: 180px;
}
.btn div {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.iA-container {
  width: 50%;
  height: 100%;
  background: red;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.iA {
  width: 100%;
  height: 72%;
  background: yellow;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
h2 {
  text-align: center;
}
.ia-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 190px;
}
.letsplay {
  display: none;
}
.score {
  background: red;
  width: 50%;
}
.iA-title {
  background: blue;
  height: 28%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

footer {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: blue;
}
footer button {
  width: 80px;
  height: 80px;
  border-radius: 200px;
}
footer button:hover {
  transform: scale(1.1);
  margin: 5px;
}
